fastapi==0.115.0
uvicorn[standard]==0.30.6
jinja2==3.1.4
python-multipart==0.0.9
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
itsdangerous==2.2.0
pydantic-settings==2.5.2
yt-dlp==2024.10.22
faster-whisper==1.0.3
pytesseract==0.3.13
Pillow==10.4.0
